@import "./vars";

@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/root";

@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/utilities/api";
@import "../../../node_modules/bootstrap/scss/images";
@import "./grid";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/helpers";

@import "./mixins/buttons";
@import "./buttons";
@import "../../../node_modules/bootstrap/scss/card";
@import "./form-control";
@import "../../../node_modules/bootstrap/scss/forms/labels";
@import "../../../node_modules/bootstrap/scss/forms/floating-labels";
@import "../../../node_modules/bootstrap/scss/forms/input-group";
@import "../../../node_modules/bootstrap/scss/placeholders";
@import "./nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../node_modules/bootstrap/scss/close";

@import "../add-bg-noise";
@import "./bs-gradients";
@import "./elevation";

@each $k, $i in $border-widths {
	.border-#{$k} {
		--#{$prefix}border-width: #{$i} !important;
	}
}

.navbar-nav {
	// scss-docs-start navbar-nav-css-vars
	--#{$prefix}nav-link-padding-x: #{$nav-link-padding-x};
}

@each $color, $value in $theme-colors {
	.bg-#{$color} {
		@include shadows-from-color($value);
	}
}

.bg-transparent, .default-shadows, body {
	--light-bg-dark-shadow: #bec8e4; //'hsl(155,41%,82%,50%)',
	--light-bg-light-shadow: #ffffff;
}

@each $i, $value in (
	h1: $h1-font-size,
	h2: $h2-font-size,
	h3: $h3-font-size,
	h4: $h4-font-size,
	h5: $h5-font-size,
	h6: $h6-font-size,
	display-1:$display-1-font-size,
	display-2:$display-2-font-size,
	display-3:$display-3-font-size,
	display-4:$display-4-font-size,
	display-5:$display-5-font-size,
	display-6:$display-6-font-size,
) {
	.#{$i} {
		@extend %heading;
		font-size: $value;
	}
	.#{$i}-imp {
		@extend %heading;
		font-size: $value !important;
	}
}

.font-small {
	@include font-size($font-size-sm);
}

.font-xs {
	@include font-size($font-size-sm*0.75);
}

.input-group-text:not(.bordered) {
	border: none;
}

.card:not(.bordered) {
	border: none;
}

a:hover {
	text-decoration: unset;
}
