@use "sass:map" as map;
@use '../../../node_modules/@material/theme/index' as mat;

$primary: mat.$blue-300;
$secondary: mat.$purple-a200;
$tertiary: mat.$orange-300;
$quaternary: mat.$pink-300;
$success: mat.$green-300;
$info: mat.$cyan-300;
$warning: mat.$amber-300;
$danger: mat.$red-300;
$light: #E4EBF5;
$dark: #262626;
$body-bg: $light;
$solarized: #fcf7eb;
//$solarized-green: hsl(155, 43%, 95%);
$light-primary: #c5ddfc;
$light-secondary: #e5c4fd;
$light-tertiary: #fdd3c3;
$light-quaternary: #ffc2cc;
$light-success: #c5fce2;
$light-info: #c3f7fd;
$light-warning: #fff4c2;
$light-danger: #ffc4c2;
//$primary: #96C1FA;
//$secondary: #CB8AFA;
//$tertiary: #fca98b;
//$quaternary: #ffc0cb;
//$success: #91FAC9;
//$info: #8beffc;
//$warning: #FFE575;
//$danger: #FF938F;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"tertiary": $tertiary,
	"quaternary": $quaternary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
	"solarized": $solarized,
	"light-primary": $light-primary,
	"light-secondary": $light-secondary,
	"light-tertiary": $light-tertiary,
	"light-quaternary": $light-quaternary,
	"light-success": $light-success,
	"light-info": $light-info,
	"light-warning": $light-warning,
	"light-danger": $light-danger,
);
