@use "sass:math";
@import "../../../node_modules/bootstrap/scss/mixins/banner";

@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "../../../node_modules/bootstrap/scss/functions";
@import "./functions";
@import "./colors";

$table-bg-scale: -80%;
$table-variants: $theme-colors;

// Flags switches and basic config
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$enable-negative-margins: true;
$container-max-widths: (
	sm: 720px,
	md: 960px,
	lg: 1200px,
	xl: 1320px,
	xxl: 1440px,
);

// Match material design specifications
$grid-breakpoints: (
	xs: 0,
	sm: 600px,
	md: 960px,
	lg: 1280px,
	xl: 1920px,
);

$spacer: 16px;
$spacer-1: $spacer* .25;
$spacers: (
	0: 0,
	1: $spacer-1*1,
	2: $spacer-1*2,
	3: $spacer-1*3,
	4: $spacer-1*4,
	5: $spacer-1*5,
	6: $spacer-1*6,
	7: $spacer-1*7,
);

$font-line-height-multiplier: 1.4;
$headings-line-height-multiplier: 1.2;
$headings-line-height: $headings-line-height-multiplier;

$line-height-base: $font-line-height-multiplier;
$line-height-sm: math.div($font-line-height-multiplier, 1.2);
$line-height-lg: math.div($font-line-height-multiplier, 0.75);

$font-size-base: 1rem;
$display-1-font-size: 5em;
$display-2-font-size: 4.5em;
$display-3-font-size: 4em;
$display-4-font-size: 3.5em;
$display-5-font-size: 3em;
$display-6-font-size: 2.5em;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.95;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$code-font-size: 95%;
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;

$border-radius-sm: 3px;
$border-radius: 8px;
$border-radius-lg: 10px;
$border-radius-xl: 20px;
$border-radius-2xl: 35px;
$border-radius-pill: 50rem;

//--box-shadow-inset: inset 2px 2px 5px var(--light-bg-dark-shadow), inset -2px -2px 6px var(--light-bg-light-shadow);
//--box-shadow-inset-thin: inset 1px 1px 2px var(--light-bg-dark-shadow), inset -1px -1px 2px var(--light-bg-light-shadow);

$gradient: inset 0.2rem 0.2rem 1rem hsl(214, 100%, 100%, 77%), inset -0.2rem -0.2rem 1rem hsl(261, 89%, 100%, 49%), 0.3rem 0.3rem 0.6rem hsl(225, 39%, 85%, 85%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%, 85%);
$box-shadow: box-shadow-gen();
$box-shadow-sm: box-shadow-gen(0.5);
$box-shadow-lg: box-shadow-gen(2);
$box-shadow-inset-sm: box-shadow-inset-gen(0.5);
$box-shadow-inset: box-shadow-inset-gen(1);
$border-width: 0px;
$hr-border-width: 2px;
$card-box-shadow: $box-shadow;
$btn-box-shadow: $box-shadow;
$btn-focus-box-shadow: none;
$btn-hover-box-shadow: $box-shadow-sm;
$btn-active-box-shadow: $box-shadow-inset;
$btn-bordered-border: 1px;

$popover-bg: $solarized;
$popover-header-bg: transparent;
$popover-box-shadow: $box-shadow-inset;
$popover-arrow-width: 2rem;
$popover-arrow-height: 1rem;
$popover-max-width: 300px;
$popover-max-height: 80vh;

$alert-color-scale: 60%;
$alert-box-shadow: $box-shadow;
$alert-border-radius: $border-radius-pill;
$alert-border-radius-not-pill: $border-radius-lg;

$modal-backdrop-bg: $light;
$modal-backdrop-opacity: .9;

$input-box-shadow: box-shadow-inset-gen();
$input-focus-box-shadow: box-shadow-inset-gen(0.5);
$input-bg: transparent;
$input-focus-bg: transparent;
$input-group-addon-bg: transparent;

$navbar-padding-y: $spacer;
$navbar-padding-x: $spacer;
$nav-pills-border-radius: $border-radius-xl;

$nav-link-padding-y: 0.5rem;
$navbar-nav-link-padding-x: 1rem;
$nav-link-padding-x: 1rem;
$nav-pills-link-active-bg: $solarized;

$list-group-bg: transparent;
$list-group-border-color: rgba($dark, 0.125);
$list-group-border-width: 1px;
//$list-group-hover-bg: transparent;
//$list-group-active-bg: transparent;

// Grid has by default gutter width of 1.5rem set it to 0 by default
$grid-gutter-width: 0px;

@import "../../../node_modules/bootstrap/scss/variables";
