.cart-icon {
	@extend .position-relative, .mt-3;
}

.cart-icons__items-badge {
	@extend .position-absolute, .top-0, .start-100, .p-1, .translate-middle, .badge, .rounded-pill;
}

.sidenav-sizing {
	@extend .col-xl-2, .col-lg-3, .col-md-4, .col-sm-5, .col-30, .d-#{$smallest-size-side-nav}-flex, .d-none;
}

@include media-breakpoint-down($smallest-size-side-nav) {
	.sidenav-sizing {
		height: auto;
	}
	.cart-icon {
		margin-right: $spacer-1 * 3;
	}
}

@include media-breakpoint-up($smallest-size-side-nav) {
	.sidenav-sizing {
		height: 100vh;
	}
}

.content-sizing {
	@extend .col-xl-28, .col-lg-27, .col-md-26, .col-sm-25, .col-30;
}

.nav-link-with-icon {
	@extend .d-flex, .flex-#{$smallest-size-side-nav}-column, .flex-row, .gap-#{$smallest-size-side-nav}-0, .gap-2, .px-2, .align-items-center, .text-center, .btn, .btn-el-1;
	@include transition($btn-transition);
}

.nav-link-with-icon-responsive {
	//@extend ;
}

.topnav-sizing {
	@extend .navbar-expand-#{$smallest-size-side-nav}, .d-#{$smallest-size-side-nav}-none, .d-flex;
}
